:root{
    --spash-bg-color: #181818;
    --primary-1: #42567A;
    --primary-2: #2C2C34;
    --secondary-1: #38726C;
    --secondary-2: #51467F;
    --secondary-3: #D34E24;


    --almost-white: #ECECEC;


    --text-light: var(--almost-white);
    --text-dark: #000;

    --nav-bar-height:80px;
    --content-width: 1200px;
    --padding-sections: 16px calc(50vw - var(--content-width) / 2);
    --project-img-margin-left-right: 150px;
}
*{
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth
}
body{
    margin: 0;
    padding: 0;

    /* Default light text */
    color: var(--text-light);

    /* Default font: Roboto */
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;


    display: flex;
    flex-direction: column;
}

h1, h2 {
    font-size: 3.5em;
    font-style: normal;
    font-weight: 500;
    margin-bottom: .2em;
}
.h1-subheader {
    font-weight: 300;
    font-size: 1.7em;
    line-height: 42px;
}

h3{
    font-weight: 300;
    font-size: 2em;
    margin-top: .3em;
}
h4{
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    margin-top: .3em;
}
.header-line {
    border-bottom: 1px solid rgba(236, 236, 236, 0.5);
    width: 100%;
}

blockquote{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3em;
}
p{
    text-align: justify;
    line-height: 1.5em;
}

/*Chips*/
.chip, .chip-header {
    background: var(--secondary-2);
    padding: 4px 8px;
    text-align: center;
    border-radius: 20px;
}

.chip-header {
    background: var(--secondary-1);
    width: 100%;
}
.chips-container {
    padding-bottom: 1.5em;
}
/*--Chips*/

/*Adjusted the anchor link to play nice with the navbar*/
/*.anchor-adjuster::before{*/
/*    display: block;*/
/*    content: " ";*/
/*    margin-top: calc(-0px);*/
/*    height: var(--nav-bar-height);*/
/*    visibility: hidden;*/
/*    pointer-events: none;*/
/*}*/
:target::before {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}


.navbar {
    width: 100%;
    height: var(--nav-bar-height);
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    z-index: 100;
    background: grey;
    background: var(--spash-bg-color);

}
.navbar > nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.nav-img-button {
    padding: 16px;
    text-decoration: none;
    font-size: 1.5em;
    font-family: monospace;

    display: flex;
    justify-content: center;
    align-items: center;
    /*100 divided by the amount of nav items*/
    flex-basis: calc(100% / 5);
    flex-direction: column;
    color: var(--text-light);
}




#splash{
    height: calc(100vh - var(--nav-bar-height)) ;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.splash-content {
    position: relative;
    width: 67%;
    background: var(--spash-bg-color);
    padding: 15% 5% 0;
}
.splash-img-container {
    /*Initial display above header*/
    z-index: 101;
    width: 33%;
    height: calc(100% + var(--nav-bar-height));
    background: grey;
}
.splash-quote {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0;
    left: 0;
    bottom: 10%;
}

#about-me, #portfolio, #contact {
    /*padding: 16px 64px;*/
    padding: var(--padding-sections)
}


#about-me{
    background: var(--primary-1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.about-me-content {
    flex-basis: 40%;
    /*margin-right: 10%;*/
}
.about-me-content > * {
    width: 100%;
}

.about-me-skills {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;

    background: var(--primary-2);
    padding: 16px 48px;
    min-width: 300px;
    max-width: 500px;
    flex-grow: 1;
    margin-top: 3em;
    text-align: center;

}

#portfolio {
    display: flex;
    flex-direction: column;
    background: var(--primary-2);
    align-items: center;
}

.projects-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}
.project {
    margin: 32px 0;
    min-height: 200px;
    min-width: 400px;
    background: var(--almost-white);
    color: var(--text-dark);
}

.project > summary {
    display: flex;
    flex-direction: row;
}
.img-left {
    margin-right: var(--project-img-margin-left-right);
}
.img-right{
    flex-direction: row-reverse;
    margin-left: 150px;
}

.project-summary{
    flex-grow: 1;
    padding: 8px 16px;
}
.project-img {
    height: 200px;
    width: 200px;
    background: grey;
}


#contact {
    text-align: center;
    background: var(--primary-1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-line {
    max-width: 500px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-icon {
    height: 64px;
    width: 64px;
    padding: 12px;
    background: black;
    border-radius: 10px;
    margin: 0 8px;
}
